<div class="row">
    <div class="col-xs-12">
        <img src="{{recipe.imagePath}}" class="img-responsive" alt="{{recipe.name}}">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1 style="margin-top: 0">{{recipe.name}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" style="margin-bottom: 10px">
                Manage recipe <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">To shopping list</a></li>
                <li><a href="#">Edit recipe</a></li>
                <li><a href="#">Delete recipe</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <p>{{recipe.description}}</p>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        Ingredients
    </div>
</div>